.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-content {
  width: 350px;
}

.main-content h3 {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget-password {
  text-decoration: none;
  color: black !important;
  opacity: 0.5;
  letter-spacing: 1px;
}

.forget-password:hover {
  opacity: 1;
}
