button {
  letter-spacing: 2px;
  background: rgb(211, 247, 222);
  opacity: 0.8;
  padding: 0.3rem;
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

button:hover {
  background: rgb(141, 190, 157);
}

.button-fa {
  background: none;
  border: none;
  color: green;
}

.button-fa:hover {
  background: none;
  border: none;
  color: rgb(3, 41, 3);
}

.warning-button {
  color: red;
}

.warning-button:hover {
  color: rgb(129, 40, 40);
}
