.main-navbar {
  background: rgb(20, 0, 51);
}

.navbar-list {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
  padding-inline-start: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.navbar-list li {
  padding: 1rem;
  cursor: pointer;
}
